appdirs==1.4.4
asgiref==3.3.1
autopep8==1.5.6
botocore==1.20.65
cffi==1.14.5
cryptography==3.4.7
distlib==0.3.1
Django==3.1.6
django-crispy-forms==1.11.2
django-extensions==3.1.3
ec2instanceconnectcli==1.0.2
filelock==3.0.12
isort==5.8.0
jmespath==0.10.0
Pillow==8.2.0
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==5.1.1
pygame==2.0.1
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
snowballstemmer==2.1.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.6
